h1{
    border-style: double;
    font-size: large;
    text-align: center;
    
}

h2{
    border-style: groove;
    font-size: medium;
    text-align: left;
    border-width: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
    border-style: groove;
    font-size: medium;
    text-align: left;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
}
h3{
    border-style: groove;
    font-size: medium;
    text-align: left;
    border-width: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
p2{
    border-style: groove;
    font-size: medium;
    text-align: left;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
}
h4{
    border-style: groove;
    font-size: medium;
    text-align: left;
    border-width: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p3{
    border-style: groove;
    font-size: medium;
    text-align: left;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding-top: 10px;
    padding-right:20px;
    padding-bottom: 10px;
}
a:link, a:visited {
    background-color: skyblue;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-decoration-color: black;
  }
  
  a:hover, a:active {
    background-color: rgb(15, 165, 90);
  }
  
  @media screen and (min-width: 350px) and (max-width: 400px) {
}