h1, h2, h3, h4 {
  border-style: groove;
  font-size: medium;
  text-align: left;
  border-width: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p, p2, p3 {
  border-style: groove;
  font-size: medium;
  text-align: left;
  margin: 10px 20px;
  padding: 10px 20px;
}

h1 {
  font-size: large;
  text-align: center;
}

a:link, a:visited {
    background-color: skyblue;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-decoration-color: black;
  }
  
  a:hover, a:active {
    background-color: rgb(15, 165, 90);
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media screen and (max-device-width: 480px) {
    a{
      text-align: center;
      font-size: 1em;
      padding: 10px;
    }
    h1, h2, h3, h4 {
      text-align: center;
      font-size: 1.5em;
    }
    p, p2, p3 {
      text-align: center;
      font-size: 0.8em;
    }
    body {
      text-align: center;
      font-size: 1em;
    }
}

