 h2, h3, h4, h5, h6 {
  border-style: groove;
}

h1{
  text-align: center;
  font-size: xx-large;
  font-family: Impact;
}



img {
  size-adjust: 50%;
  border-style: 50px solid;
  width: 10px;
  height: 10px;
  align-items: center;
   border-style: double;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: 30px solid black;
  border-color: #5f5959; 

}


body {
  margin: 30px;
  padding: 20px;
  border: filled, solid black;
  background-image: url('/goldenhour.jpg');
  background-attachment: fixed; 
  background-size: filled;
  background-repeat: repeat;
}

a:link, a:visited {
    background-color: skyblue;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-decoration-color: black;
  }
  
  a:hover, a:active {
    background-color: rgb(15, 165, 90);
  }




  * {
    box-sizing: 'solid';
    margin: 0;
    padding: 0;
}

body, header {
    width: 100%;
    height: inherit;
}
img{
  size-adjust: 30%;
  
}


@media only screen and (min-device-width: 828px) and (max-device-width: 1366px) {  }
 
  h1, h2, h3, h4, h5, h6 {
      border: 0;
      text-align: center;
      
        font-size: 1.5em;
        margin: 10px 0;
    padding: 10px;
  }

  p, .class-script {
      text-align: center;
      color: #000;
      background-color: beige;
      font-size: 0.8em;
      margin: 10px 0;
  padding: 10px;
  }
  

  img {
    width: 50%;
    height: auto;
    border: 0;
        margin: 0 auto;
    align-items: center;
  }

  body {
      margin: 0;
      padding: 0;
      background-image: url('/goldenhour.jpg');
      background-size: contain;
      background-repeat: repeat;
      background-attachment: fixed;
      text-align: center;
      font-size: 0.8em;
      margin: 10px 0;
  padding: 10px;
  }

  a:link, a:visited {
    color: #000;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 10px 0;
    padding: 10px;
  }
  
  a:hover, a:active {
    background-color: #0F6564;
    color: #fff;}
  
 

