h1{
border-style: double;
}
p{
    font-family: monospace;
}
img{
    border-style: solid;
    size-adjust: 350px;
}

body{
    margin: 100px;
    padding: 50px;
    border: 50px;

}
h2{
    border-style: groove;

}
h3{
  border-style: groove;

}
h4{
  border-style: groove;

}
h5{
  border-style: groove;

}
h6{
  border-style: groove;

}

p3{
  border-style: groove;

}

p4{
  border-style: groove;

}
a:link, a:visited {
    background-color: skyblue;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-decoration-color: black;
  }
  
  a:hover, a:active {
    background-color: rgb(15, 165, 90);
  }

  p2{
    text-align: left;
    color: rgb(0, 0, 0);
    font-size: large;
      background-color: beige;
  }